<form class="ui form">
  <%= form_with(model: order, local: true) do |form| %>
    <h4 class="ui dividing header">Shipping Information</h4>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :order_name, size: 20 %>
    </div>
    <div class="field">
      <%= form.label :address %>
      <%= form.text_area :address, id: :order_address, rows: 3, cols: 40 %>
    </div>
    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email, id: :order_email, size: 40 %>
    </div>
    <h4 class="ui dividing header">Billing Information</h4>
    <div id='pay-type-component'></div>
    <%= form.submit 'Place Order', class: "ui button", tabindex: "0" %>
  <% end %>
</form>
<br>