  <%= form_with(model: product, local: true, class: 'ui form' ) do |form| %>
    <% if product.errors.any? %>
      <div class="ui error message">
        <div class="header">
          <%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:
        </div>
        <ul class="list">
          <% product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="inline field focus">
      <%= form.label :title %>
      <%= form.text_field :title  %>
    </div>

    <div class="inline field focus">
      <%= form.label :description %>
      <%= form.text_area :description, rows: 4, cols: 20 %>
    </div>

    <div class="inline field focus">
      <%= form.label :price %>
      <%= form.text_field :price %>
    </div>

    <div class="field">
      <%= form.file_field :image %>
    </div>
    <%= form.submit 'Submit', class: "ui pink button", tabindex: "0" %>
  <% end %>
<br>
