<% if notice %>
  <div class="ui yellow message">
    <i class="star icon"></i>
    <aside id="notice"><%= notice %></aside>
  </div>
<% end %>

<h2 class="ui huge header">Your Pragmatic Catalog</h2>

<div class="ui items">
  <% @products.each do |product| %>
    <div class="item">
      <% if product.image.attached? %>
        <%= link_to image_tag(product.image), line_items_path(product_id: product), remote: true, method: :post, class: "ui small image" %>
      <% end %>
      <div class="content">
        <p class="ui large header"><%= product.title %></p>
        <div class="description">
          <p><%= sanitize(product.description) %></p>
        </div>
        <br>
        <p class="ui medium header"><%= number_to_currency(product.price) %></p>
        <br>
        <br>
        <%= button_to 'Add to Cart',
                      line_items_path(product_id: product),
                      remote: true,
                      class:" ui primary button"
                      %>
      </div>
    </div>
    <br>
  <% end %>
</div>