<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<% if @counter and @counter > 5 %>
  <aside id="notice">
    <%= "You have accessed our Catalog #{pluralize(@counter, 'time')}" %>
  </aside>
<% end %>

<h1>Your Pragmatic Catalog</h1>
<% @products.each do |product| %>
  <div class="ui card">
    <% if product.image.attached? %>
      <%= link_to image_tag(product.image.variant(resize: "120x120")), line_items_path(product_id: product), remote: true, method: :post, class: 'image' %>
    <% end %>
    <div class="content">
      <div class="header"><%= product.title %></div>
      <div class="description">
        <%= sanitize(product.description) %>
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <div class="ui basic green button">        <%= number_to_currency(product.price) %>
</div>
        <%= button_to 'Add to Cart',
                      line_items_path(product_id: product),
                      remote: true,
                      class: 'ui basic red button'
                      %>
      </div>
    </div>
  </div>
<% end %>